body {
  font-family: 'Joan', serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 80px;
}

.title-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.profile-photo {
  height: 180px;
  border-radius: 50%;
}

.name-wrapper {
  margin-left: 40px;
}

.name {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}

.position {
  font-size: 18px;
}