body {
  font-family: 'Joan', serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.profile-photo {
  height: 180px;
  border-radius: 50%;
}

.name-wrapper {
  margin-left: 40px;
}

.name {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}

.position {
  font-size: 18px;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}

.nav-item a {
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 50px;
  text-decoration: none;
  color: rgb(100, 113, 80);
  transition: color 0.5s;
}

.nav-item a:hover {
  color: maroon;
}

.main-container {
  display: flex;
}

.section {
  margin: 40px;
}

.sidebar {
  width: 50%;
}